extends ../layouts/common
block content
    h1 Transactions
    a.btn.btn-primary.mt-3.mb-3(href='/trans/create') Create New Transactions
    table.table
        tr
            th UserName
            th BookTitle
            th Complete Check
            th Status
            th Delete
            each tran in trans
                tr
                    td= tran.userID
                    td= trans.bookID
                    td
                        a(href="/trans/" + tran.id + "/isComplete") Xác Nhận Hoàn Thành
                    td= tran.isComplete === true ? "Đã Hoàn Thành" : "Chưa Hoàn Thành"
                    td
                        a(href='/trans/'+tran.id+'/delete') Delete