extends ../layouts/common
block content
    h1 BooksList
    a.btn.btn-primary.m-3(href='/books/create') Create Books
    table.table
        tr
            th BookName
            th BookTitle
            th View
            th Delete
            th Update
            each book in books
                tr
                    td= book.title
                    td= book.des
                    td
                        a.btn.btn-primary(href='/books/'+book.id) View
                    td
                        a.btn.btn-primary(href='/books/'+book.id+'/delete') Delete
                    td
                        form(action = '/books/' + book.id, method = "POST", class = 'd-flex')
                            input(name="title", type = "text", class = 'from-control')
                            button(class='btn-primary') Update






    // thay doi giao dien file pug de them css vao cac phan con lai nhu body head