a(href="/users/create") Create
a(href="/users/update") Update
form(action="/users", method="GET")
    input(type="text", name="q")
    button Search
ul
    each user in users
        li
        span= user.name
        //a(href='/users/'+ user.id) View
        a(href='/users/'+ user.id+'/delete') Delete
        a(href='/users/'+ user.id+'/update') Update



