a(href="/users/create") Create
form(action="/users", method="GET")
    input(type="text", name="q")
    button Search
ul
    each user in users
        li
        span= user.name
        a(href='/users/'+ user.id) View
        a(href='/users/'+ user.id+'/delete') Delete
        form(action="/users/" + user.id, method="POST")
            span NewUserName:
            input(type="text", name="q")
            button Update



