// layout dung chung cho tat ca cac file pug sau nay
html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")

    body
        block content